<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body ng-app="TransportationApp" ng-controller="MainController">
    <nav>
        <ul>
            <li><a href="#">CALI TRANSPORTATION APP</a></li>
            <li style="float: right"><a href="#"><i class="fa fa-github fa-3x"></i></a></li>
        </ul>
    </nav>

    <main>
        <div class="selects">
            <select ng-model="departureStation" ng-change="setStopID(departure)">
                <option value="">-- DEPARTURE STATION --</option>
                <option ng-repeat="stop in stops">{{stop.stop_name}}</option>
            </select>
            <select ng-model="arrivalStation">
                <option value="">-- ARRIVAL STATION --</option>
                <option ng-repeat="arrivalStop in arrivalStations track by $index">{{arrivalStop}}</option>
            </select>
        </div>

    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="dist/js/app.min.js"></script>
</body>

</html>
