<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Transportation App</title>
    <link rel="stylesheet" href="dist/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body ng-app="TransportationApp" ng-controller="MainController">
    <nav>
        <ul>
            <li><a href="#">CALTRAIN APP</a></li>
            <li style="float: right"><a href="dist/data/Full_Timetable.pdf">TIMETABLE</a></li>
        </ul>
    </nav>

    <main>
        <div class="selects section">
            <select ng-model="departureStation" ng-change="setStopID(departure)">
                    <option value="">-- DEPARTURE STATION --</option>
                    <option ng-repeat="stop in stops">{{stop.stop_name}}</option>
                </select>
            <select ng-model="arrivalStation" ng-change="setStopID('arrival')">
                    <option value="">-- ARRIVAL STATION --</option>
                    <option ng-repeat="arrivalStop in arrivalStations track by $index">{{arrivalStop}}</option>
                </select>
        </div>

        <table class="section">
            <thead>
                <th><span class="station-time">DEPARTURE TIMES</span> <br> {{departureStation}}
                </th>
                <th><span class="station-time">ARRIVAL TIMES</span> <br> {{arrivalStation}}
                </th>
            </thead>
            <tbody>
                <td><span ng-repeat="departTime in departTimes | orderBy: departTime">{{departTime}}<br></span></td>
                <td><span ng-repeat="arrivalTime in arrivalTimes | orderBy: arrivalTime">{{arrivalTime}}<br></span></td>
            </tbody>
        </table>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="dist/js/app.min.js"></script>
    <script type="text/javascript">
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('sw.js').then(function() {
                return navigator.serviceWorker.ready;
            }).then(function(reg) {}).catch(function(error) {
                console.log('Service Worker error :^(', error);
            });
        }
    </script>
</body>

</html>
